{% extends "webclient/base.html" %}

{% block guilib_import %}
{% endblock %}

{% block connecting %}
{% endblock %}

{% block client %}

<h1>Webclient!</h1>

<form>
    <input id="maininput" type="text" name="input">
    <input type="button" value="Send" onClick="sendInput()">
</form>

<script language="javascript" type="text/javascript">

var sendInput = function() {
    var inmsg = $("#maininput").val();
    log("sendInput: " + inmsg);
    Evennia.msg("echo", [inmsg], {});
};

</script>

{% endblock %}


