{% extends "webclient/base.html" %}

<!-- Django-template blocks available for overloading:
    - connecting     - custom connect messages
    - jquery_import  - for changing to a local jquery version
    - guilib_import  - for using your own gui lib
-->


{% block client %}
<div id="main" class="split content">
  <div id="wrapper">
    <div id="toolbar">
      <button id="optionsbutton" type="button">&#x2699;</button>
    </div>
    <div id="messagewindow" role="log"></div>
  </div>
</div>
<div id="input" class="split content">
  <div id="inputform" class="wrapper">
    <div id="prompt"></div>
    <div id="inputcontrol" class="input-group">
      <textarea id="inputfield" type="text" class="form-control" data-evennia-input></textarea>
      <span class="input-group-btn">
        <button class="btn btn-large btn-outline-primary" id="inputsend" type="button" value="">&gt;</button>
      </span>
    </div>
  </div>
</div>


<div id="optionsdialog" class="dialog">
    <div class="dialogtitle">Options<span class="dialogclose">&times;</span></div>
    <div class="dialogcontentparent">
        <div class="dialogcontent">
            <h3>Output display</h3>
            <label><input type="checkbox" data-setting="gagprompt" value="value">Don't echo prompts to the main text area</label><br />
            <label><input type="checkbox" data-setting="helppopup" value="value">Open help in popup window</label><br />
            <hr />
            <h3>Notifications</h3>
            <label><input type="checkbox" data-setting="notification_popup" value="value">Popup notification</label><br />
            <label><input type="checkbox" data-setting="notification_sound" value="value">Play a sound</label><br />
        </div>
    </div>
</div>

<div id="helpdialog" class="dialog">
    <div class="dialogtitle">Help<span class="dialogclose">&times;</span></div>
    <div class="dialogcontentparent">
        <div class="dialogcontent">
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% load staticfiles %}
  <script src="https://unpkg.com/split.js/split.min.js"></script>
  <script src={% static "webclient/js/splithandler.js" %} language="javascript"></script>
{% endblock %}
