# Evennia dependencies

# general
django >= 2.2.5, < 2.3
twisted >= 19.2.1, < 20.0.0
pytz
django-sekizai
inflect
autobahn >= 17.9.3
model_mommy

# testing and development
mock >= 1.0.1
anything
black

# windows-specific
pypiwin32;platform_system=="Windows"
