# Evennia dependencies

# general
attrs >= 19.2.0
django >= 3.2, < 3.3
twisted >= 20.3.0, < 22.0.0
pytz
djangorestframework >= 3.10.3, < 3.12
django-filter == 2.4
django-sekizai == 2.0
inflect >= 5.2.0
autobahn >= 17.9.3
lunr == 0.6.0
simpleeval <= 1.0

# try to resolve dependency issue in py3.7
attrs >= 19.2.0

# testing and development
model_mommy
mock >= 1.0.1
anything==0.2.1
black 
parameterized==0.8.1

# windows-specific
pypiwin32;platform_system=="Windows"
