# Evennia dependencies

# general
django >= 3.2, < 3.3
twisted >= 21.7.0, < 22.0.0
pytz
django-sekizai==2.0.0
inflect
autobahn >= 20.7.1, < 21.0.0

# try to resolve dependency issue in py3.7
attrs >= 19.2.0

# testing and development
model_mommy
mock >= 1.0.1
anything
black

# windows-specific
pypiwin32;platform_system=="Windows"
