<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Devblog: Evennia Python MUD/MU creation system</title>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../stylesheets/styles.css">
        <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Evennia is a modern Python library and server for creating text-based        multi-player games and virtual worlds (also known as MUD, MUSH, MU, MUX, MUCK, etc). While Evennia handles all the necessary things every online game needs, like database and networking, you create the game of your dreams by writing normal Python modules.">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
            </script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <p>
                <img class="logo" src="../images/evennia_logo.png" alt="Evennia logo">
                </p>
                <h1 class="header">Evennia</h1>
                <p class="header header-text">The Python MU* Development Library</p>
                <div class="linksection">
                    <ul>
                        <div class="buttonsection">
                            <li>
                                <a class="buttons" href="../index.html">Back to Evennia</a>
                            </li>
                            <li>
                                <a class="buttons devblog-calendar-tooltip"
                                    href="https://github.com/evennia/evennia/discussions">Discuss (GitHub)</a>
                            </li>
                    </ul>
                        </div>
                        <div class="devblog-calendar">
                            <ul>
                                {% for page in blogpages %}
                                    <li><a href="{{page.permalink}}">{{ page.year }} ({{ page.posts|length }})
                                        {% if pageyear == page.year %}
                                            <ul class="devblog-calendar-open">
                                        {% else %}
                                            <ul class="devblog-calendar-closed">
                                        {% endif %}
                                            {% for blogpost in page.posts %}
                                                <li class="devblog-calendar-post devblog-calendar-tooltip">
                                                    <a href="{{ blogpost.permalink }}">{{ blogpost.date_short}}
                                                    <span class="devblog-calendar-tooltip-text">{{ blogpost.title }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
            </header>
            <section>
                <h1>
                    <a name="evennia-mudmu-creation-system" class="anchor"  href="#evennia-mudmu-creation-system">
                        <span class="octicon octicon-link">
                        </span>
                    </a>Evennia Dev Blog<div class="sponsor">
                        <div class="sponsor-column">
                            <a href="https://www.patreon.com/griatch">
                                <img class="patreon" src="../images/evennia_patreon_100x100.png" alt="Patreon">
                            </a>
                            <p>
                            <a href="https://www.paypal.me/GriatchEvennia">
                                <img class="paypal" src="../images/btn_donateCC_LG.gif" alt="Paypal donate">
                            </a>
                        </div>
                </h1>

                <em>Various Evennia- and MUD-related musings by Griatch, the Evennia lead developer.</em>

                {% for blogpost in blogpage.posts %}
                    {% if not loop.first %}<hr>{% endif %}
                    <div class="blog_post">
                    {{ blogpost.html }}
                    </div>
                {% endfor %}
            </section>
    </body>
</html>
