{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
   <div class="noBorderOnLeft">
      <h1>Welcome!</h1>
      <p>Welcome to your new installation of <a href="http://evennia.com">Evennia</a>, your friendly
      neighborhood next-generation MUD development system and server. You are looking at Evennia's web
      presence, which can be expanded to a full-fledged site as
      needed. Through the <a href="{% url 'admin:index' %}">admin interface</a> you can view and edit the
      database without logging into the game.
        {% if webclient_enabled %}
        You can also connect to the game directly from your browser using our
        <a href="{% url 'webclient:index' %}">online client</a>!<br></br>
        {% endif %}
      For more info, take your time to
      peruse our extensive online <a href="https://github.com/evennia/evennia/wiki">documentation</a>.
      <p>
      Should you have any questions, concerns, bug reports, or
      if you want to help out, don't hesitate to join the Evennia community to make your voice heard! Drop a mail to the
      <a href="https://groups.google.com/forum/#!forum/evennia">mailing list</a> or to come say hi in the <a href="http://webchat.freenode.net/?channels=evennia">developer chatroom</a>. If you find bugs, please report them to our <a href="https://github.com/evennia/evennia/issues">Issue tracker</a>.
      </p>
   </div>
</div>

<div class="rowOfBoxes dividingBorderAbove">

   <div class="quarter noBorderOnLeft">
      <h1>Players</h1>
      <p>
      There's currently <strong>{{num_players_connected}}</strong> connected out of a total of <strong>{{num_players_registered}}</strong> players registered. Of these, <strong>{{num_players_registered_recent}}</strong> were created this week, and <strong>{{num_players_connected_recent}}</strong> have connected within the last seven days.
      </p>
   </div>

   <div class="quarter">
      <h1>Recently Connected</h1>
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul>
      <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>

   <div class="quarter">
      <h1>Database Stats</h1>
      <ul>
      <li>{{num_players_registered}} players (+ {{num_characters}} characters)</li>
      <li>{{num_rooms}} rooms (+ {{num_exits}} exits)</li>
      <li>{{num_others}} other objects</li>

      </ul>
   </div>

   <div class="quarter">
      <h1>Evennia</h1>
      <p><a href="http://evennia.com">Evennia</a> is an open-source MUD server built in
      <a href="http://python.org">Python</a>, on top of the
      <a href="http://twistedmatrix.com">Twisted</a> and
      <a href="http://djangoproject.com">Django</a> frameworks. This
      combination of technologies allows for the quick and easy creation
      of the game of your dreams - as simple or as complex as you like.</p>
   </div>

</div>
{% endblock %}
