{% extends "website/base.html" %}

{% block header_ext %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block titleblock %}Logged Out{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Logged Out</h1>
        <p>You have been logged out.</p>
        <p>Redirecting in 2 seconds...</p>
      </div>
    </div>
  </div>
</div>

<script type="text/JavaScript">
  setTimeout("location.href = '/';",2000);
 </script>
{% endblock %}
