{% extends "base.html" %}

{% block titleblock %}
Login
{% endblock %}

{% block content %}

{% load addclass %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h1 class="card-title">Login</h1>
        <hr />
        {% if user.is_authenticated %}
        <p>You are already logged in!</p>
        {% else %}
        {% if form.has_errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action=".">
          {% csrf_token %}

          <div class="form-group">
            <label for="id_username">Username:</label>
            {{ form.username | addclass:"form-control" }}
          </div>

          <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password | addclass:"form-control" }}
          </div>

          <div class="form-group">
            <input class="form-control" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
