{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="rowOfBoxes">
   <div class="twoThirds noBorderOnLeft">
      <h1>Welcome!</h1>
      <p>Welcome to your new installation of Evennia, your friendly
      neighborhood next-generation MUD server. You'll want to customize
      this file, webtemplates/prosimii/index.html, to have a more
      valid welcome message. Should you have any questions, concerns,
      ideas, or bug reports, head over to the
      <a href="http://evennia.com">Evennia community</a> and
         speak up!</p>
   </div>

   <div class="oneThird">
      <h1>Latest News</h1>
      {% for entry in news_entries %}
         <a href="/news/show/{{entry.id}}" class="newsHeading">{{entry.topic.name}}: {{entry.title}}</a>
         <p class="newsDate">By {{entry.author.username}} on {{entry.date_posted|time}}</p>
         <p class="newsSummary">{{entry.body|truncatewords:20}}</p>
      {% endfor %}

      <div class="more"><a href="./index.html">More News &raquo;</a></div>

      <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>
</div>

<div class="rowOfBoxes dividingBorderAbove">

   <div class="quarter noBorderOnLeft">
      <h1>Players</h1>
      <p>
      There are currently <strong>{{num_players_connected}}</strong> connected,
      and a total of <strong>{{num_players_registered}}</strong> registered. Of these, <strong>{{num_players_registered_recent}}</strong> were created this week, and <strong>{{num_players_connected_recent}}</strong> have connected within the last seven days.
      </p>
   </div>

   <div class="quarter">
      <h1>Recently Connected</h1>
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul>
      <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>

   <div class="quarter">
      <h1>Database Stats</h1>
      <ul>
      <li>{{num_players}} players</li>
      <li>{{num_rooms}} rooms</li>
      <li>{{num_things}} things</li>
      <li>{{num_exits}} exits</li>
      </ul>
   </div>

   <div class="quarter">
      <h1>Evennia</h1>
      <p><a href="http://evennia.com">Evennia</a> is MUD server built in
      <a href="http://python.org">Python</a>, on top of the
      <a href="http://twistedmatrix.com">Twisted</a> and
      <a href="http://djangoproject.com">Django</a> frameworks. This
      combination of technology allows for the quick and easy creation
      of games, as simple as complex as one desires.</p>
   </div>

</div>
{% endblock %}