<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Evennia web MUD client</title>

    <!--CSS style sheet -->
    <link rel='stylesheet' type="text/css" media="screen" href="/media/css/webclient.css">

    <!-- Importing the online jQuery javascript library -->
    <script src="http://code.jquery.com/jquery-1.6.1.js" type="text/javascript" charset="utf-8"></script>

    <!--for offline testing, download the jquery library from jquery.com-->
    <!--script src="/media/javascript/jquery-1.4.4.js" type="text/javascript" charset="utf-8"></script-->

    <!-- Importing the Evennia ajax webclient component (requires jQuery)  -->
    <script src="/media/javascript/evennia_webclient.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>

    <div id="wrapper">
      <div id="messagewindow">
        <!--javascript kills this when page has finished loading: -->
        <div id="connecting"> Connecting ...</div>
        <!--this is supplied by django view - webclient/views.py: -->
        <div id="noscript"><h3>Javascript Error: The Evennia MUD client requires that you have Javascript activated.</h3>
          <p>Turn off eventual script blockers and/or switch to a web
          browser supporting javascript.</p><p>For admins: The error
          could also be due to not being able to access the online
          jQuery javascript library. If you are testing the client
          without an internet connection, you have to previously
          download the jQuery library from http://code.jquery.com
          (it's just one file) and then edit webclient.html to point
          to the local copy.</p>
        </div>
      </div>
      <form id="inputform" action="javascript:void(0);">
        <div id="playercount">Logged in Players: {{num_players_connected}}</div>
        <div id="inputcontrol"><input type="text" id="inputfield" autocomplete="off"><input id="inputsend" type="button" value="send" onClick="webclient_input()" /></div>
      </form>
    </div>

  </body>
</html>
