{% extends "website/base.html" %}

{% block titleblock %}Admin{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Admin</h1>
        <p class="card-text">
          The Evennia admin allows for modifying database entities using a
          graphical interface. This bypasses in-game locks and permissions.
        </p>
        <hr />

        <h3>Game entities</h3>

        <p class="card-text">
          <h4><a href="{% url "admin:accounts_accountdb_changelist" %}">Accounts</a></h4>
          Accounts represent an out-of-character player and stores
          configurations and password. An account can control/puppet one or
          more in-game Objects (usually Characters).
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:objects_objectdb_changelist" %}">Objects</a></h4>
          Objects include everything with an in-game location, from characters
          to rooms, exits, swords and monsters.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:scripts_scriptdb_changelist" %}">Scripts</a></h4>
          Scripts are meta objects used to store game information and state,
          handle special functionality or perform timed actions. They have no
          in-game location.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:comms_channeldb_changelist" %}">Channels</a></h4>
          Channels are used for mass communication, chat-room style. The
          channel object holds subscriptions, options and access. The
          communications themselves are logged to disk.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:comms_msg_changelist" %}">Msgs</a></h4>
          Messages represent a piece of database-base saved communication
          between sender(s) and receiver(s). By default they are used by
          page/tell but can be used as building blocks for custom in-game
          communication systems.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:help_helpentry_changelist" %}">Help Topics</a></h4>
          Database-based Help entries like these can also be added from
          in-game. Note that command-auto-help and file-based help entries
          (added via FILEHELP_MODULES) cannot be modified or viewed from here.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:typeclasses_tag_changelist" %}">Tags</a></h4>
          Tags are used to group, organize and quickly find other types of
          objects. A given tag is 'shared' between any number of entities
          making them very efficient.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:server_serverconfig_changelist" %}">ServerConfig</a></h4>
          ServerConfigs store variables set by the running server. While possibly
          interesting for debugging, you should usually not modify these
          manually unless you <i>really</i> know what you are doing. For
          example, the <i>BASE_*_TYPECLASS</i> fields are stored in order to
          auto-update when their setting changes; they must <i>not</i> be
          changed manually here.
        </p>

        <hr />

        <h3>Website-only</h3>

        <p class="card-text">
        <h4><a href="{% url "admin:sites_site_changelist" %}">Sites (domains)</a></h4>
        Configure domain name for your pages. For local-only testing, create a
        domain named <I>localhost:4001</I>. Then manually add
        <strong>SITE_ID=&lt;id&gt;</strong> to your settings, where &lt;id&gt;
        is the database-id of the domain you created (the &lt;id&gt; can be
        found from the url of the domain in the admin, so
        <I>/admin/sites/site/3/change</I> means that &lt;id&gt; is 3).
        </p>

        <p class="card-text">
        <h4><a href="{% url "admin:flatpages_flatpage_changelist" %}">Flat Pages</a></h4>
          Create, edit and publish new web pages without needing to know how to
          code. Make sure to assign to a domain created above.
        </p>

        <p class="card-text">
        <h4><a href="{% url "admin:auth_group_changelist" %}">Groups</a></h4>
          These are permission groups used only by the admin. You usually don't
          need to modify these.
        </p>

        <hr />

        <p class="card-text">
          When you click on any link above you'll end up in the full
          django-based admin panel. You can also get to it
          <a href="{% url "django_admin" %}">here</a>.  You can make this the default by
          changing <code>EVENNIA_ADMIN</code> to <code>False</code> in
        <code>settings.py</code> and reload.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
