/* Old site styles, left in just in case.
   Shouldn't break anything! */
@media (max-width: 570px) {
    .oneThird {
        width: 100%;
        border-left: none;
    }

    .quarter {
        width: 100%;
        border-left: none;
    }

    .headerTitle {
        text-align: right;
    }

    .headerSubTitle {
        text-align: right;
    }

    .headerLinks {
        position: static;
    }
}

/* If you for some reason need to override the default sizing model,
   for instance, if you're using a Google Maps widget, you may need
   to use the following code, see:
   http://v4-alpha.getbootstrap.com/getting-started/introduction/#box-sizing */
/*
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height plus padding against main content*/
  margin-bottom: 92px;
  background-color: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #7590ae;
}

.navbar-brand-logo {
    height: 64px;
    width: 64px;
}

/* Default Colors */

.navbar {
  background-color: #3d5c7a;
}
