/** evennia webclient css (overrides parts of the foundation base) **/

html, body {
    height: 100%;
}

#outputsection {
    min-height: 80%;
}

#header > a {
    color: red;
}

#main {
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
}

.textoutput {
    position:absolute;
    top:30px;
    bottom: 40px;
    left:10px;
    right: 10px;
    overflow: hidden;
    background: rgba(201, 201, 201, 0.65);
}

#footer {
    position: relative;
    height: 40px;
    width: 98%;
    clear: both;
}