/** evennia webclient css (overrides parts of the foundation base) **/

html, body {
    height: 100%;
    background: darkgreen;
}

#header {
    background: yellow;
    padding: 5px;
}

#main {
    height: 100%;
    width:auto;
    background: beige;    
    padding: 5px;
}


.textoutput {
    width: 80%;
    height: 100%;
    overflow: hidden;
    background: lightpink;
    float: left;
    border: 2px solid black;
    margin-right: 2px;
}

#sidepanel {
    height: 100%;
    width: 100%;
    background: red;
}

.lookoutput {
    width: 19%;
    height: 50%;
    overflow: hidden;
    background: lightgreen;
    border: 2px solid black;
    margin-bottom: 2px;
}

.contentoutput {
    width: 19%;
    height: calc(50% - 6px);
    overflow: hidden;
    background: lightblue;
    border: 2px solid black;    
}

/* Input footer */

#footer { 
    padding: 5px;
    height: auto;
    clear: both;
    background: darkgray;
    margin-top: 2px;
}

#input_singleline_field {
    width:90%;
    visibility: hidden;
}

#input_multiline_field {
    width:90%;
}