/* ---

  Style sheet for Evennia's web client.

  This should possibly somehow be incoorporated with the
  overall website theme in the future?

--- */

/* Overall element look */
html, body, #clientwrapper { height: 100% }
body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #ccc;
    font-size: .9em;
    font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace;
    line-height: 1.6em;
    overflow: hidden;
}


a:link, a:visited { color: #fff }
a:hover, a:active { color: #ccc }

/* Set this to e.g. bolder if wanting to have ansi-highlights bolden
 * stand-alone text.*/
strong {font-weight:normal;}

div {margin:0px;}
/* Base style for new messages in the main message area */
/*.msg {
  white-space: pre-wrap; }
  padding: .5em .9em;} */
  /*border-bottom: 1px dotted #222 } /*optional line between messages */

/* Utility messages (green) */
.sys { color: #0f0 }

/* Messages echoed back after input */
.inp { color: #555 }

/* Messages returned from the server (most messages) */
.out { color: #aaa }

/* Error messages (red) */
.err { color: #f00 }

/* Prompt base (white) */
.prompt {color: #fff }

/* Style specific classes corresponding to formatted, narative text. */
.red { color: red; }
.maroon { color: maroon; }
.lime { color: lime; }
.green { color: green; }
.yellow { color: yellow; }
.olive { color: olive; }
.blue { color: blue; }
.navy { color: navy; }
.magenta { color: #FF00FF; }
.purple { color: purple; }
.cyan { color: #00FFFF; }
.teal { color: teal; }
.white { color: white; }
.gray { color: gray; }
.dimgray {color: #696969;}
.black {color: black;}
.underline { text-decoration: underline; }

.bgred { background-color: red;}
.bgmaroon { background-color: maroon;}
.bglime { background-color: lime;}
.bggreen { background-color: green;}
.bgyellow { background-color: yellow;}
.bgolive { background-color: olive;}
.bgblue { background-color: blue;}
.bgnavy { background-color: navy;}
.bgmagenta { background-color: #FF00FF;}
.bgpurple { background-color: purple;}
.bgcyan { background-color: #00FFFF;}
.bgteal { background-color: teal;}
.bgwhite { background-color: white;}
.bggray { background-color: gray;}
.bgdimgray { background-color: #696969;}
.bgblack { background-color: black;}

/* Container surrounding entire client */
#wrapper {
    position: relative;
    height: 100%
}

/* Main scrolling message area */
#messagewindow {
    position: absolute;
    overflow: auto;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px;
}

/* Input area containing input field and button */
#inputform {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    border-top: 1px solid #555;
}

#inputcontrol {
    width: 100%;
    padding: 0;
}

/* Input field */
#inputfield, #inputsend, #inputsizer {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    background: #000;
    color: #fff;
    padding: 0 .45em;
    font-size: 1.1em;
    font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace;
}

#inputfield, #inputsizer {
    float: left;
    width: 95%;
    border: 0;
    resize: none;
    line-height: normal;
}

#inputfield:focus {
    outline: 0;
}

#inputsizer {
    margin-left: -9999px;
}

/* Input 'send' button */
#inputsend {
    float: right;
    width: 3%;
    max-width: 25px;
    margin-right: 10px;
    border: 0;
    background: #555;
}

/* prompt area above input field */
#prompt {
    margin-top: 10px;
    padding: 0 .45em;
}

/* No javascript warning */
#connecting {
    position: absolute;
    width: 100%;
    padding: .5em .9em
}

/*Example player count display */
#playercount { margin-left: .8em }

/* Testing */
/*#inputform {
  outline: 1px dotted blue }

#messagewindow {
  outline: 1px dotted red }

#wrapper {
  outline: 1px dotted green }*/
