/* @import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open%20Sans:400,700,400italic); */

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5em;
}


/* Base text styles */

body {
  padding: 0px;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #232323;
	background-color: #F4F3F1;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
  background-image: url("../images/grey_by_griatch.jpg");
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
	font-family: Arvo, Monaco, serif;
  line-height:1.3;
	font-weight: normal;
}

h1,h2, h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-family: Arvo, Monaco, serif;
	font-weight: 700;
}

a {
  color:#5C81F1;
  font-weight:200;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a small {
	font-size: 12px;
}

small {
  font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
  font-style: italic;
}

ul {
  list-style: inside;
  padding-left: 25px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

p img {
  display: inline;
  margin: 0px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
  opacity: 0.6;
}


.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.newsitem {
  font-style: italic;
}


/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#000;
  font-size:14px;
  line-height: 0.8em;
}

.codeblock {
  margin: 1em 0 1em 4em;
}

pre {
	padding: 4px 12px;
  background: #FDFEFB;
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
	margin-bottom: 32px;
}


/* Tables */

table {
  width:100%;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB;
 }

td {
  padding: 10px;
	background: #ccc;
 }



/* Wrapper */
.wrapper {
  width:960px;
}


/* Header */

.logo {
  padding-left: 15px;
  opacity: 0.6
}

header {
  background-color: #d7d6d4;
  color: #2C2C2C;
  width:160px;
  float:left;
  position:fixed;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 34px 25px 35px 50px;
  margin: -10px 25px 0 0;
  -webkit-font-smoothing: antialiased;
  height: 94vh;
  opacity: 0.8;
}

p.header {
    font-size: 16px;
}

h1.header {
	font-family: Arvo, sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3em;
	border-bottom: none;
	margin-top: 0;
}

h1.header, a.header, a.name, header a {
	color: #424242;
}

a.header {
	text-decoration: underline;
}

a.name {
	white-space: nowrap;
}

header ul {
  list-style:none;
  padding:0;
}

header li {
	list-style-type: none;
  margin-bottom: 1px;
}

.header-text {
  line-height: 1.2;
  margin-top: -10px;
  margin-bottom: 25px;
  opacity: 0.6;
}


a.buttons {
  display: table-cell;
  width:132px;
  height:15px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	border-radius:4px;
  border:1px solid #0D0D0D;

	-webkit-font-smoothing: antialiased;
	/*! background: url(../images/arrow-down.png) no-repeat; */
	font-weight: normal;
	/*! text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0; */
	padding: 1px 2px 2px 21px;
	height: 30px;
  text-decoration: none;
  background-color: #efeeec;
  vertical-align: middle;
}

a.buttons:hover {
  background-color: #fff
}

.buttonsection {
    margin-bottom: 14px;
}

a.github {
	background: url(../images/octocat-small.png) no-repeat 1px;
  background-color: #efeeec;
}

.buttonsidetext {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg);
  padding-left: 11px;
  left: 25px;
  opacity: 0.5;
}


.loglink {
  position: fixed;
  margin-top: -35px;
  margin-left: 124px;
  scale: 80%;
}



/* Section - for main page content */

section {
  width:675px;
  float:right;
  padding-bottom:50px;
  background-color: #f4f3f1;
  opacity: 0.9;
  padding-left: 31px;
  padding-right: 19px;
  position: revert;
}


/* Footer */

footer {
  width:160px;
  float:right;
  position: static;
  margin-top: 70px;
}

/* Screenshot page */

.img.screenshot {
  transition: transform .5s;
  filter: grayscale(100%);
}

.img.screenshot:hover {
  transform: scale(1.5);
  transition-delay: 1.5s;
  filter: grayscale(0%);
}

.screenshot-header {
  float: none;
  position: static;
  width: auto;
  height: auto;
  margin: 0px;
  margin-bottom: -23px;
}

.screenshot-caption {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  font-style: italic;
  opacity: 0.9;
}

.screenshot-linksection {
  position: relative;
  top: 35px;
  right: -114px;
}

.screenshot-buttons {
  position: absolute;
  left: 36px;
  top: 5px;
}

/* News feed */

.news-event {
  margin-bottom: 7px;
  font-size: 12px;
  border-left: solid 1px;
  padding-left: 8px;
  line-height: 1.3em;
}

.events-fetch {
  font-style: italic;
}

/* sponsor buttons */

.sponsor {
  margin-left: -24px;
}

.patreon {
  scale: 0.8;
  opacity: 0.8;
}

.paypal {
  scale: 0.8;
  opacity: 0.8;
}

.sponsor-column {
    float: right;
    width: 15%;
    padding: 2px;
}

/* Dev Blog */

a.devblog-headerlink {
    visibility: hidden;
}
h1:hover > a.devblog-headerlink {
    visibility: visible;
}
.devblog-title-date {
    font-size: small;
}
.devblog-calendar-closed {
    max-height: 0px;
    visibility: hidden;
    margin-bottom: 0.4em;
}
.devblog-calendar-open {
    max-height: 21em;
    margin-bottom: 0.4em;
}
.devblog-calendar-tooltip .devblog-calendar-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #8e8e8e;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-left: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.devblog-calendar-tooltip:hover .devblog-calendar-tooltip-text {
    visibility: visible;
}
a[href="devblog-posts"]:focus {
    pointer-events: none;
}
.devblog-calendar-post {
  margin-left: 1em;
}
.blog_post > * > img {
    opacity: 1.0;
    float:left;
    margin-right:2em;
    margin-bottom: 1em;
}
.blog_post > * > a > img {
    opacity: 1.0;
    float:left;
    margin-right:2em;
    margin-bottom: 1em;
}
.blog_post > ul {
    list-style: inherit;
}
.blog_post > ul > li > p {
    margin-bottom: 0.5em;
}
.blog_post > footer {
    width: initial;
    float: none;
}
.blog_post > .highlight > pre {
    line-height: 0.5em!important;
}


/* Media alternatives */


@media print, screen and (max-width: 960px), (orientation: portrait)  {

  div.wrapper {
    width:auto;
    margin: 0;
  }

  header, section {
    float: none;
    position:static;
    width:auto;
    height:auto;
    margin:0px
  }

  footer {
    margin-top: 0px;
  }

  section {
    padding:20px 8px 100px 25px;
  }

  header a small {
    display:inline;
  }

  header ul, header p.view {
    position:static;
  }

  .header-text {
    word-wrap: break-word;
    width: 150px;
  }

  .linksection {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .img, .img.screenshot {
    max-width: 720px;
  }

  .newsfeed {
    position: absolute;
    top: 70px;
    right: 200px;
  }

  .sponsor {
    float: none;
    position: absolute;
    top: -2px;
    right: 270px;
  }

  .buttonsidetext {
    display: none;
  }

  .devblog-calendar > ul {
    overflow: hidden;
    max-width: 50%;
  }

  .devblog-calendar > ul > li {
    float: left;
    padding: 5px;
  }

  .devblog-calendar-open{
      display: none;
  }
  .devblog-calendar-closed{
      display: none;
  }


@media print, screen and (max-width: 760px) {
  body {
    word-wrap:break-word;
  }

  header {
    float: none;
    padding:-10px 20px 0 20px;
  }

	section {
    padding:10px -1px 10px 20px;
  }


  header ul, header p.view {
    position:static;
  }

  .linksection {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  div.linksection > ul > li {
    margin-bottom: 3px;
  }

  .img, .img.screenshot {
    max-width: 480px;
  }

  .newsfeed, .sponsor {
    display: none;
  }

}

@media print, screen and (max-width: 520px) {


  div.linksection > ul > li {
    margin-bottom: 1px;
  }

  .linksection {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .img, .img.screenshot {
    max-width: 400px;
  }

}

@media print, screen and (max-width: 435px) {

  /*header > h1.header,
  header > p.header,
  .sponsor {
    display: none;
  }*/

  .img, .img.screenshot {
    max-width: 300px;
  }

  header {
    padding: 70px;
  }
  section {
    padding-left: 5px;
    padding-right: 5px;
  }

}


@media print {

  div.linksection {
    margin-bottom: 0px;
    position: relative;
    left: 10150px;
    top: -229px;
    display: none;
  }

  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
    background-color: #fff;
  }
}
