{% extends "base.html" %}

{% block titleblock %}403 - Forbidden{% endblock %}

{% block header_ext %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Error 403</h1>
        <h4 class="card-subtitle">Forbidden</h2>
        <hr />
        <p>You are not authorized to perform this action.</p>
        <hr />
        <p><a href="{% url 'index' %}">Back to the home page</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
