{% extends "website/base.html" %}

{% block titleblock %}404 - Not Found{% endblock %}

{% block header_ext %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Error 404</h1>
        <h4 class="card-subtitle">Page not found</h2>
        <hr />
        <p><a href="/">Back to the home page</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
