{% extends "base.html" %}

{% block header_ext %}
{% endblock %}

{% block sidebar %}
<p class="doNotDisplay doNotPrint">This page&rsquo;s menu:</p>
    <ul id="side-bar">
      <li><a href="#alt-layout" title="Alternative layout">Alt. layout</a></li>
      <li><a href="#compatibility" title="Improved cross-browser compatibility">Compatibility</a></li>
      <li><a href="#stylesheets" title="Comprehensive stylesheets">Stylesheets</a></li>
      <li><a href="#accessibility" title="Accessibility features">Accessibility</a></li>
    </ul>
{% endblock %}

{% block content %}
<h1 id="alt-layout">{{news_entry.topic.name}}: {{news_entry.title}}</h1>
    <p class="newsDate">By {{news_entry.author.username}} on {{news_entry.date_posted|time}}</p>
    <p class="newsSummary">{{news_entry.body}}</p>
{% endblock %}