# requirements for building the docs

sphinx==8.2.3
myst-parser==4.0.1
myst-parser[linkify]==4.0.1
Jinja2==3.1.6

# pinned to allow for sphinx 3.x to still work, latest required 5+
alabaster==1.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-serializinghtml==2.0.0

# sphinx-multiversion with evennia fixes 
git+https://github.com/evennia/sphinx-multiversion.git@evennia-mods#egg=sphinx-multiversion

# sphinxcontrib-lunrsearch custom branch with evennia-specific fixes
# git+https://github.com/evennia/sphinxcontrib-lunrsearch.git@evennia-mods#egg=sphinxcontrib-lunrsearch
