/*
 * nature.css_t
 * ~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- nature theme.
 *
 * :copyright: Copyright 2007-2020 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("basic.css");
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open%20Sans:400,700,400italic);

/* -- page layout ----------------------------------------------------------- */

body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: #eee;
    color: #555;
    margin: 0;
    padding: 0;
    height:88
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 230px;
}

hr {
    border: 1px solid #B1B4B6;
}

div.document {
    background-color: #eeeeea;
    max-width: 1090px;
}

div.body {
    background-color: #f1f1ef;
    color: #3E4349;
    padding: 0 30px 30px 30px;
    font-size: 0.9em;
    margin-top: -9px;
}

div.footer {
    color: #555;
    width: 100%;
    padding: 13px 0;
    text-align: center;
    font-size: 75%;
    max-width:1080px;
}

div.footer a {
    color: #444;
    text-decoration: underline;
}

div.related {
    background-color: #dbe9f0;
    line-height: 32px;
    color: #9FA0A0;
    /*! text-shadow: 0px 1px 0 #444; */
    font-size: 0.9em;
    max-width: 1090px;
}

div.related a {
    color: #565F62;
}

blockquote {
  font-style: italic;
  color: #797979;
  background-color: #e1e8e2;
  padding: 3px;
  border: 1px solid #c7cdc8;
  padding-left: 14px;
}

div.sphinxsidebar {
    font-size: 0.75em;
    line-height: 1.5em;
}

div.sphinxsidebarwrapper{
    padding: 20px 0;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
	  font-family: Arvo, sans-serif;
    color: #4f4f4f;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 5px 10px;
    background-color: #dbe9f0;
}

div.sphinxsidebar h4{
    font-size: 1.1em;
}

div.sphinxsidebar h3 a {
    color: #444;
}

div.sphinxsidebar p {
    color: #888;
    padding: 5px 20px;
}

div.sphinxsidebar p.topless {
}

div.sphinxsidebar ul {
    margin: 10px 20px;
    padding: 0;
    color: #000;
}

div.sphinxsidebar a {
    color: #444;
}

div.sphinxsidebar input {
    border: 1px solid #ccc;
	  font-family: Arvo, sans-serif;
    font-size: 1em;
}

div.sphinxsidebar .searchformwrapper {
    margin-left: 20px;
    margin-right: 20px;
}

input {
  background-color: #f7f7f7;
}


/* -- body styles ----------------------------------------------------------- */

a {
    color: #005B81;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-color: #bdcbdf;
}

a:hover {
    color: #0492CA;
    text-decoration: underline;
    text-decoration-color: #9bbed5;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	  font-family: Arvo, Monaco, serif;
    background-color: #f7f7f3;
    font-weight: normal;
    color: #212224;
    margin: 30px 0px 10px 0px;
    padding: 5px 0 5px 10px;
    text-shadow: 0px 1px 0 white
    border-bottom: 1px solid #d1d1d1;
    border-left: 10px solid #cfdde8;
    border-bottom: 1px solid #c6d7df;
}

div.body h1 {
    margin-top: 20px solid #fff;
}
div.body h2 {
    font-size: 150%;
}
div.body h3 {
  font-size: 120%;
}
div.body h4 {
  font-size: 110%;
}
div.body h5 {
  font-size: 100%;
}
div.body h6 {
  font-size: 100%;
}

a.headerlink {
    color: #7caeb7;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #7caeb7;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.highlight {
    background-color: #f1f1ef;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    font-style: italic;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    font-style: italic;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

li > p:first-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

li > p {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* The indents of kwarg - lists in api docs */
dl.field-list.simple > dd.field-odd > ul.simple > li > ul {
  margin-left: 24px;
}
dd.field-odd > ul.simple > li > ul > li > dl.simple {
  margin-bottom: -8px;
}


.admonition.important {
  background-color: #fbf7c3;
  border: 1px solid #c8c59b;
  font-style: italic;
}

.admonition.note {
  background-color: #e1e8e2;
}

.admonition.important {
  background-color: #fbf7c3;
  border: 1px solid #c8c59b;
  font-style: italic;
}

pre {
    padding: 10px;
    background-color: #e3e3e3;
    color: #222;
    line-height: 1.2em;
    border: 1px solid #C6C9CB;
    font-size: 1.1em;
    margin: 1.5em 0 1.5em 0;
    -webkit-box-shadow: 1px 1px 1px #d8d8d8;
    -moz-box-shadow: 1px 1px 1px #d8d8d8;
}

code {
    background-color: #ecf0f3;
    color: #6e0e0e;
    /* padding: 1px 2px; */
    font-size: 0.8em;
	  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: bold;
}

.viewcode-back {
	  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

div.viewcode-block:target {
    background-color: #f4e9d9;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

div.code-block-caption {
    background-color: #ddd;
    color: #222;
    border: 1px solid #C6C9CB;
}

.logo {
  padding-left: 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -12px;
  opacity: 0.8;
}

.versionadded {
  background-color: #e9f6e1;
}

.versionchanged {
  background-color: #b7e6e8;
  padding-left: 10px;
}

.deprecated {
  background-color: #fff3f3;
}

/* API-docs custom coloring */


.class {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.9em;
  background-color: #f5ffff;
  padding: 5px;
}

.method {
  background-color: #e3ecec;
  padding: 5px;
  font-size: 1.0em;
}

.sig-param {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.sig-paren {
  margin-left: 1px;
}

.property {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

dl.class > dd > p {
  font-style: italic;
}

dl.method > dd > p {
  font-style: italic;
}


code.descname {
  font-size: 0.9em;
}

.function {
  background-color: #eff;
  padding: 5px;
}

.exception {
  background-color: #fff9f9;
  padding: 5px;
}

/* The develop-branch warning header */

.develop {
  background-color: #ffe4e4;
  align-content: center;
  width: auto;
  text-align: center;
  letter-spacing: 15px;
}


/* -- screen sizes ------------------------------------------------------------------ */

@media print, screen and (max-width: 960px) {

  div.body {
    width: auto;
  }

  div.bodywrapper {
    margin-left: 0px;
    margin-top: 110px;
  }

  div.document,
  div.documentwrapper,
  div.bodywrapper {
      margin: 0 !important;
      width: 100%;
  }

  div.sphinxsidebar {
    visibility: hidden;
  }

  .search {
    visibility: visible;
    position: absolute;
    top: -7px;
    right: 200px;
  }

  #top-link {
      display: none;
  }
}

@media print, screen and (max-width: 720px) {

  div.related>ul {
    visibility: hidden;
  }

  div.related>ul>li.nav-item.nav-item-0 {
    visibility: visible;
  }

  .search {
    right: 10px;
  }

}

@media print, screen and (max-width: 480px) {

  div.body {
    padding-left: 2px;
  }

}
