{% extends "website/base.html" %}

{% block titleblock %}Admin{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Admin</h1>
        <p class="card-text">
          The Evennia admin page allows for modifying database entities using a
          graphical interface.
        </p>
        <hr />

        <h3>Game entities</h3>


        <p class="card-text">
          <h4><a href="{% url "admin:accounts_accountdb_changelist" %}">Accounts</a></h4>
          Accounts can have several characters under them. A user's login and
          password information can be changed here.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:objects_objectdb_changelist" %}">Objects</a></h4>
          Objects include everything with an in-game location, from characters
          to rooms, exits, swords and monsters.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:scripts_scriptdb_changelist" %}">Scripts</a></h4>
          Scripts are meta objects used to store game information and state,
          handle special functionality or perform timed actions. They have no
          in-game location.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:comms_channeldb_changelist" %}">Channels</a></h4>
          Channels are used to redirect and organize player communications.
        </p>

        <p class="card-text">
          <h4><a href="{% url "admin:help_helpentry_changelist" %}">Help Topics</a></h4>
          Extend the automatic command-help with custom help topics.
        </p>

        <hr />

        <h3>Extra website pages</h3>

        <p class="card-text">
        <h4><a href="{% url "admin:sites_site_changelist" %}">Sites (domains)</a></h4>
        Configure domain name for your pages. For local-only testing, create a
        domain named <I>localhost:4001</I>. Then manually add
        <strong>SITE_ID=&lt;id&gt;</strong> to your settings, where &lt;id&gt;
        is the database-id of the domain you created (the &lt;id&gt; can be
        found from the url of the domain in the admin, so
        <I>/admin/sites/site/3/change</I> means that &lt;id&gt; is 3).
        </p>

        <p class="card-text">
        <h4><a href="{% url "admin:flatpages_flatpage_changelist" %}">Pages</a></h4>
          Create, edit and publish new web pages without needing to know how to
          code. Select the domain specified by <strong>SITE_ID</strong> above.
        </p>

        <hr />

        <p class="card-text">
          If you are an advanced user who needs access to the raw Django Admin,
          it is available <a href="{% url "django_admin" %}">here</a>.  You can
          make this the default by changing <code>EVENNIA_ADMIN</code> to
          <code>False</code> in <code>settings.py</code> and reload.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
