[mysqld] 
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_large_prefix = 1
innodb_file_format = Barracuda 
innodb_file_per_table = 1

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
